/* Navigation */
nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}

/* Headings */
h1 {
    color: darkblue;
}

/* images */
img {
    width: 150px;
    height: auto;
    border: 1px solid black;
}

aside {
    width: 300px;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: #f0f0f0;
}
aside img {
    width: 200px;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid black;
    text-align: center;
}